<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://use.fontawesome.com/b6c4c3f053.js"></script>
</head>

<body class="bootstrap-admin-with-small-navbar">
    @Html.Partial("_TopBar")
    <div class="container">
        <div class="row">

            @Html.Partial("_MenuSideBar")

            @RenderBody()

        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


