@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FastCoinTrader.EnitityModels.tbl_Wallet
@using FastCoinTrader.EnitityModels.EntityHelper;
<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text-center text-capitalize">Welcome, Guest</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="https://freeiconshop.com/files/edd/person-flat.png" />
        </div>
        <div class="col-md-8">
            <h2 class="text-center">Profile Info</h2>
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">Name</div>
                    <div class="panel-body">@UserAccountEntityHelper.GetFullName(User.Identity.Name)</div>
                    <text>@UserAccountEntityHelper.GetFullName(User.Identity.Name)</text>
                </div>
               
                <div class="panel panel-primary">
                    <div class="panel-heading">My wallet address</div>
                    <div class="panel-body"> @WalletEntityHelper.GetWalletAddress(User.Identity.Name)</div>                
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <label class="col-md-3">BTC Balance</label><label class="col-md-3">Pending BTC</label><label class="col-md-3">ZAR Balance</label><label>Pending ZAR</label>                        
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            BTC @Html.DisplayTextFor(model => model.tbl_Wallet_BTCBalance)
                        </div>
                        <div class="col-md-3">
                            BTC  @Html.DisplayTextFor(model => model.tbl_Wallet_BTCPending)
                        </div>
                        <div class="col-md-3">
                            R  @Html.DisplayTextFor(model => model.tbl_Wallet_ZARBalance)
                        </div>
                        <div class="col-md-3">
                            R  @Html.DisplayTextFor(model => model.tbl_Wallet_ZARPending)
                        </div>
                    </div>
                </div>  
                    <br/>
                    <div class="btn-group-sm">
                        <button onclick="window.location ='/BuyDashboard/BuyDashboard#/home'" class="btn btn-success">Let's buy some bitcoins</button>
                        <button onclick="window.location='/SellDashboard/SellDashboard'" class="btn btn-success">Let's sell some bitcoins</button>
                    </div>             
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-dollar fa-5x"></i>
                        <text style="font-size:60px;padding-left:10px;">Totals</text>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>After trades are successful:</h3>
                                 <p><strong>BTC
                                    @{
                                        var amount = Model.tbl_Wallet_BTCBalance + Model.tbl_Wallet_BTCPending;
                                        ViewContext.Writer.Write(amount);
                                    }
                                    </strong><br/>
                                    <strong>
                                        R
                                        @{
                                            var zarAmount = Model.tbl_Wallet_ZARBalance + Model.tbl_Wallet_ZARPending;
                                            ViewContext.Writer.Write(zarAmount);
                                        }
                                    </strong>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
